body {
    height: 100%;
    width: 100%;
    margin:0 auto;
}

.header {
    width: 100%;
    background-color: #252323;
    height: 60px;
}

.headerContainer {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    width: 70%;
    padding: 16px;
}

.socialNetworks {
    width: 25%;
    float: right;
}

.socialNetworks ul li {
    display: inline-block;
    margin-left: 15px;
}